*{
    text-align: center;
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    background-color: black;
}
#navi{
  background-color: lightblue;
  display: inline-block;
  line-height: 45px;
  width: 100%;
  text-align: left;
  font-weight: bolder;
 }
 #navi a{
     margin: 0px 90px;
 }
 #sec{
     margin:15px 0px;
     display: block;
     padding: 15px;
     background-color: lightseagreen;
     width: 70%;
     height: 150px;
 }
 #arc{
     display: block;
     background-color: lightsteelblue;
     width: 70%;
     height: 200px;
     padding: 15px;

 }
 #foot{
    background-color: lightseagreen;
}
 #side{
     background-color: lightskyblue;
     width: 25%;
     height: 450px;
     padding: 5px;
     margin: 5px;
     float: right;
     line-height: 40px;
 }


#head{
    background-color: lightgreen;
    line-height: 70px;
    font-size: 55px;
}

